@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.font-oswald {
  font-family: 'oswald', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.font-roboto {
  font-family: 'roboto', sans-serif;
}

.my-pokemon-list-img {
  width: 100px;
  height: auto;
}

.title-size-1 {
  font-size: 60px;
}

.poke-img-title {
  width: 30px;
  height: auto;  
}

.p-list {
  font-size: 20px;
}

.app-welcoming-box {
  background-color: #fafafa;
  min-height: 150px;
  padding: 20px;
  border: 4px dotted #212529;
}

.info-box {
  background-color: #e8fbff;
  text-align: justify;
  min-height: 150px;
  padding: 20px;
  border: 4px dotted #050558;
  margin-bottom: 50px;
  color: #050558;
}

.poke-img {
  width: 300px;
  height: auto;
}

.poke-img-info-arrow {
  width: 250px;
  height: auto;
}

.poke-img-info-box {
  width: 200px;
  height: auto;
}

.selected-poke-img {
  width: 150px;
  height: auto;
}

.poke-name {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
}